/* здесь используйте глобальные переменные */

// Fonts
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

// Breakpoints
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
