// Fonts
$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

// Breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$mobile-width-max: $tablet-width - 1;
$tablet-width-max: $desktop-width - 1;

// Colors
$color-light: #ffffff;
$color-dark: #000000;

$color-ui-1: #f2f2f2;
$color-ui-2: #ebebeb;
$color-ui-3: #cdcdcd;

$color-text-1: #222222; // 3
$color-text-2: #444444; // 4
$color-text-3: #666666; // 5

$color-accent-1: #68b738;
$color-accent-2: #5eaa2f;

$color-state-error: #ff8282;
