.contacts {
  position: relative;
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.contacts__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    position: absolute;
    top: 95px;
    max-height: calc(100% - 95px);
    padding: 60px 65px 60px 80px;
    background-color: #ffffff;
    overflow-y: auto;
  }
}

.contacts__title {
  max-width: 140px;
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  max-width: 140px;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.contacts__address-city {
  margin: 0;
}
