.page-catalog__header {
  margin-bottom: 27px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.page-catalog__catalog {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.page-catalog__related-products {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.page-catalog__newsletter {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}
