.product-card {
  line-height: 20px;
  color: #444444;
}

.product-card__title {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  text-transform: uppercase;
}
