.related-products__inner {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 900px 1fr;
  }
}

.related-products__title {
  position: relative;
  width: fit-content;
  margin: 0 0 36px;
  padding-right: 40px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 50vw;
    height: 2px;
    background-color: #68b738;
    box-shadow: 50vw 0 0 #68b738;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    padding: 0 40px;
    font-size: 32px;
    line-height: 32px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      z-index: -1;
      width: 100vw;
      height: 2px;
      background-color: #68b738;
      transform: translateY(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-left: -40px;
    font-size: 40px;
    line-height: 40px;
  }
}

.related-products__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.related-products__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    padding: 26px 38px;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
  }
}

.related-product-card {
  display: grid;
  gap: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;
  }
}

.related-product-card__title {
  margin: auto 0;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.related-product-card__specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    justify-content: flex-end;
    gap: 50px;
  }
}

.related-product-card__button {
  min-height: 40px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    grid-column: 1 / -1;
  }
}

.related-products__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 280px;
  height: 290px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-image:
    linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    image-set(
      url("../../images/related-goods-promo-bg-mobile@1x.jpg") 1x,
      url("../../images/related-goods-promo-bg-mobile@2x.jpg") 2x
    );

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 264px;
    width: 100%;
    height: 200px;
    padding: 0 77px;
    background-image:
      linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      image-set(
        url("../../images/related-goods-promo-bg-tablet@1x.jpg") 1x,
        url("../../images/related-goods-promo-bg-tablet@2x.jpg") 2x
      );
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    gap: 60px;
    width: 245px;
    height: 288px;
    background-image:
      linear-gradient(
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      image-set(
        url("../../images/related-goods-promo-bg-desktop@1x.jpg") 1x,
        url("../../images/related-goods-promo-bg-desktop@2x.jpg") 2x
      );
  }
}

.related-products__promo-icon {
  display: block;
  width: 58px;
  height: 63px;
  background-image: url("../../icons/stack.svg#present");
}

.related-products__promo-text {
  max-width: 170px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
