.services__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
  }
}

.services__item {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;

  &--slim {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 50px;
      height: 53px;
      background-image: url("../../icons/stack.svg#cat-slim");
    }
  }

  &--pro {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 67px;
      height: 50px;
      background-image: url("../../icons/stack.svg#cat-pro");
    }
  }
}

.services__item-title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.services__item-description {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.services__item-button {
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 10px;
  background-repeat: no-repeat;
  background-position: right center;
}
