.services-card {
  position: relative;
  height: 100%;
  padding: 30px 20px;
  background-color: #f2f2f2;


  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 77px 53px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 55px 52px;
  }

  &--weight-loss {
    &::before {
      position: absolute;
      top: 21px;
      left: 20px;
      width: 50px;
      height: 53px;
      background-image: url("../../icons/stack.svg#cat-slim");
      content: "";
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      &::before {
        top: 50%;
        right: 63px;
        left: auto;
        width: 200px;
        height: 211px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 41px;
        left: 52px;
        width: 100px;
        height: 106px;
      }
    }
  }

  &--mass-gain {
    &::before {
      position: absolute;
      top: 24px;
      left: 13px;
      width: 67px;
      height: 50px;
      background-image: url("../../icons/stack.svg#cat-pro");
      content: "";
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      &::before {
        top: 50%;
        right: 30px;
        left: auto;
        width: 268px;
        height: 200px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 47px;
        left: 33px;
        width: 134px;
        height: 100px;
      }
    }
  }
}

.services-card__inner {
  max-width: 340px;

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.services-card__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 70px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
    font-size: 36px;
    line-height: 36px;
  }
}

.services-card__description {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.services-card__button {
  min-width: 133px;
  padding: 4px 34px 4px 0;
  text-align: left;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 10px;
  background-repeat: no-repeat;
  background-position: right center;
}
