.services-card {
  position: relative;
  height: 100%;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;


  @media (min-width: $tablet-width) {
    min-height: 372px;
    padding: 77px 53px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 55px 52px;
  }

  &--weight-loss {
    &::before {
      position: absolute;
      top: 21px;
      left: 20px;
      width: 50px;
      height: 53px;
      background-image: url("../../icons/stack.svg#cat-slim");
      content: "";
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      &::before {
        top: 50%;
        right: 63px;
        left: auto;
        width: 200px;
        height: 211px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 41px;
        left: 52px;
        width: 100px;
        height: 106px;
      }
    }
  }

  &--mass-gain {
    &::before {
      position: absolute;
      top: 24px;
      left: 13px;
      width: 67px;
      height: 50px;
      background-image: url("../../icons/stack.svg#cat-pro");
      content: "";
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
      &::before {
        top: calc(50% + 7px);
        right: 30px;
        left: auto;
        width: 268px;
        height: 200px;
        transform: translateY(-50%);
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 47px;
        left: 33px;
        width: 134px;
        height: 100px;
      }
    }
  }
}

.services-card__inner {
  max-width: 340px;

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.services-card__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 70px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
    font-size: 36px;
    line-height: 36px;
  }
}

.services-card__description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 0 22px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.services-card__button {
  position: relative;
  display: inline-block;
  min-width: 133px;
  padding: 4px 47px 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: #000000;

  @media (min-width: $tablet-width) {
    padding: 4px 57px 4px 0;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 24px;
    height: 22px;
    content: "";
    background-color: #444444;
    mask-image: url("../../icons/stack.svg#arrow");
    transform: translateY(-50%) scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: transparent;

    &::after {
      transform: translateY(-50%) scaleX(1.3);
    }
  }

  &:active {
    color: rgba(#444444, 0.3);
    background-color: transparent;

    &::after {
      background-color: rgba(#444444, 0.3);
    }
  }
}
