.stats__title {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.stats__term {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: lowercase;
}

.stats__value {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.stats__item {
  &:last-child {
    .stats__term {
      font-family: $font-secondary;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}

